@model IEnumerable<Praktikum_MVC.Models.Foren>

@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h2>@ViewBag.Titel</h2>
    @if (ViewBag.OberID != 0)
    {
        <a href="@Url.Action("Index", "Foren", new { id = ViewBag.OberID })"><span class="glyphicon glyphicon-arrow-up"></span>eine Ebene hoch</a>
        <a href="@Url.Action("NewDiscussion", "Foren", new { id = ViewBag.ID })"><span class="glyphicon glyphicon-pencil"></span>Neue Diskussion</a>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("Index", "Foren", new { id = item.ID })">@Html.DisplayFor(modelItem => item.Bezeichnung)</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-6" >
        @if (ViewBag.Diskussionen != null)
        {
        <h3>Diskussionen</h3>
        <div class="list-group">
            @foreach (var item in ViewBag.Diskussionen)
            {
                if (item.AnzahlSichtungen > 20)
                {
                    <a class="list-group-item" href="@Url.Action("Diskussion", "Foren", new { id = item.ID })">
                        <span class="glyphicon glyphicon-fire"></span> @item.Titel<span class="badge">@item.AnzahlSichtungen</span></a>
                }
                else
                {
                    <a class="list-group-item" href="@Url.Action("Diskussion", "Foren", new { id = item.ID })">
                        @item.Titel<span class="badge">@item.AnzahlSichtungen</span></a>
                }
            }
        </div>
        }
    </div>
</div>