<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/content/bootstrap-theme.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/simple-sidebar.css")" />
</head>
<body>
    <div class="container">
        <h1 class="page-header">Herzlich willkommen zum System</h1>
        Studentenportal der <a target="_blank" href="https://www.fh-aachen.de">FH Aachen</a><br />
        @if(Request.QueryString["error"] == "login") {
            <div class="alert alert-warning">Login erforderlich!</div>
        }
        @if (Request.QueryString["login"] == "true")
        {
            <div class="alert alert-success">Login erfolgreich!</div>
        }
        @if (Request.QueryString["logout"] == "true")
        {
            <div class="alert alert-success">Logout erfolgreich!</div>
        }
        @if ((Session["authenticated"] == null || (string) Session["authenticated"] == "")
            && (Request.Url.LocalPath != "/" && Request.Url.LocalPath != Url.Action("Index", "Home")
            && Request.Url.LocalPath != Url.Action("Index", "Session"))) {
            Response.Redirect(Url.Action("Index", "Home", new {error = "login" }));
        }
        else {
        <div class="container row">
            @RenderBody()
        </div>
        }
        <div class="row">
            <footer class="footer">
                <div class="container">
                    <hr />
                    <div class="pull-left">
                        @if ((Session["authenticated"] == null || (string)Session["authenticated"] == ""))
                        {
                            <form class="form-inline" action="@Url.Action("Index", "Session")" method="post">
                                <div class="form-group">
                                    <label for="user-name-input"><span class="glyphicon glyphicon-user"></span> Benutzer</label>
                                    <input type="text" class="form-control" id="user-name-input" name="username" value="@Request["username"]" />
                                </div>
                                <div class="form-group">
                                    <label for="password-input"><span class="glyphicon glyphicon-asterisk"></span> Passwort</label>
                                    <input type="password" class="form-control" id="password-input" name="password" />
                                </div>
                                <button type="submit" class="btn btn-default">Anmelden</button>
                            </form>}
                        else
                        {
                            <form class="form-inline" action="@Url.Action("Index", "Session")" method="post">
                                <div class="form-group">
                                    <label for="user-name-input"><span class="glyphicon glyphicon-user"></span> Benutzer</label>
                                    <input type="text" class="form-control" id="user-name-input" name="user" value="@Session["authenticated"]" disabled />
                                </div>
                                <button type="submit" class="btn btn-default">Abmelden</button>
                            </form>
                        }
                    </div>
                    <div class="pull-right">
                        @DateTime.Now.ToLongDateString() @DateTime.Now.ToShortTimeString()
                    </div>
                </div>
            </footer>
        </div>
       </div>
</body>
</html>