@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.exists) {
    <div class="row">
        <div class="col-md-12">
            <h1>@Html.Raw(ViewBag.professor.titel + " " +ViewBag.professor.name)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Forum Beiträge</h1>
                @{ int count = 0; }
                @foreach (Praktikum_MVC.Models.Forum forum in ViewBag.professor.foren)
                {
                    <h3>@forum.name</h3>
                    <ul>
                    @foreach(Praktikum_MVC.Models.Beitrag beitrag in forum.beitraege) {
                        <li><a href="#">@beitrag.titel</a> erstellt vor <span class="badge">@beitrag.alter</span> Tagen</li>
                        count++;
                    }
                    </ul>
                }
                @if (ViewBag.professor.foren.Count > 0)
                {
                    @Html.Raw(@count.ToString() + " Beiträge in " + @ViewBag.professor.foren.Count.ToString() + " Foren gefunden")
                }
                else
                {
                    @Html.Raw("<i>keine Beiträge gefunden</i>")
                }
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1>Bereitgestellte Dokumente</h1>
                <ul>
                    @foreach (Praktikum_MVC.Models.Dokument dokument in ViewBag.professor.dokumente) {
                        <li><a href="#">@dokument.titel</a> erstellt vor <span class="badge">@dokument.bereitstellung</span> Tagen</li>
                    }
                </ul>
                @if (ViewBag.professor.dokumente.Count > 0) {
                    @Html.Raw(@ViewBag.professor.dokumente.Count.ToString() + " Dokumente gefunden")
                }
                else {
                    @Html.Raw("<i>keine Dokumente gefunden</i>")
                }
            </div>
            <div class="row">
                <h1>Verantwortlich für folgende Module</h1>
                <ul>
                    @foreach (Praktikum_MVC.Models.Modul modul in ViewBag.professor.module)
                    {
                        <li><a href="#">@modul.bezeichnung</a></li>
                    }
                </ul>
                @if (ViewBag.professor.module.Count > 0) {
                    @Html.Raw(@ViewBag.professor.module.Count.ToString() + " Module gefunden")
                }
                else {
                    @Html.Raw("<i>keine Module gefunden</i>")
                }
            </div>
        </div>
    </div>
    
    }
    else {
        @Html.Raw(@"<div class=""alert alert-danger"">Professor mit dem Nickname " + @Url.RequestContext.RouteData.Values["id"]
            + " nicht gefunden.</div> Hier sind alle registrierten Professoren:<ul>")
        foreach(Praktikum_MVC.Models.Professor prof in ViewBag.professoren) {
            @Html.Raw("<li>" + prof.titel + @" <a href=""" + @Url.Action("Index", "ProfSummary", new {id = prof.nickname }) + @""">" + prof.name + "</a></li>")
        }
        @Html.Raw("</ul>")
    }
    <div class="row">
        <div class="pull-right">
            <h3>
                <a href="@Url.Action("Index", "Module")">Aktuelle Module</a>
            </h3>
        </div>
    </div>
}